/* Global styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7efd7;
  color: #333;
}

/* Navigation bar */
nav {
  background: #f7efd7;
  padding: 15px;
  text-align: center;
}

nav a {
  color: brown;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Page container */
.container {
  width: 90%;
  margin: auto;
  padding; 30px, 0;
}

/* Headings*/
h1, h2, h3, h4 {
  color: #010921;
}

/* Card-style content boxes */
.card {
  background: #f7efd7;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0,1);
}

/* Footer */
footer {
  background: #382b04;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.homepage-banner {
  width: 100%;
  height: 40vh; /* 40% of the screen height */
  object-fit: cover; /* makes the image crop nicely */
  display: block;
  margin top: 20px;
}

.homepage-container {
  text-align: center;
  padding: 40px 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  transition: transform 0.2s ease;
}

.grid-item:hover {
  transform: scale(1.03);
}

.grid-item img {
  width: 70%;  /* make the image less wide */
  height: 250px; /* make it taller */
  object-fit: cover;
  border-radius: 8px;
}

.grid-item p {
  margin-top: 10px;
  font-weight: 600;
}

.center-section {
  text-align: center;
}
  
  
  
