/* Global styling */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: #f7efd7;
  color: #333;
}

/* Navigation bar */
nav {
  background: #f7efd7;
  padding: 15px;
  text-align: center;
}

nav a {
  color: brown;
  margin: 0 15px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Page container */
.container {
  width: 90%;
  margin: auto;
  padding; 30px, 0;
}

/* Headings*/
h1, h2, h3, h4 {
  color: #010921;
}

/* Card-style content boxes */
.card {
  background: #f7efd7;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0,1);
}

/* Footer */
footer {
  background: #382b04;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}

.homepage-banner {
  width: 100%;
  height: 40vh; /* 40% of the screen height */
  object-fit: cover; /* makes the image crop nicely */
  display: block;
  margin top: 20px;
}

.homepage-container {
  text-align: center;
  padding: 40px 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* four in one row */
  gap: 20px;
  padding: 20px;
}

.grid-item {
  border: none; /* removes grey outline */
  border-radius: 10px;
  overflow: hidden;
  display: block;
  transition: transform 0.2s ease;
  text-align: center;
}

.grid-item:hover {
  transform: scale(0.9);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

.grid-item img {
  width: 90%;  /* less wide */
  height: auto; /* keeps full poportions */
  object-fit: contain; /* show full image no cropping */
  display: block;
  margin: 0 auto;
  border-radius: 8px;
}

.grid-item p {
  margin-top: 10px;
  font-weight: 600;
}

.center-section {
  text-align: center;
}

.image-text {
  display: flex;
  align-items: center; /* vertically centers text */
  gap: 20px; /* space between image and text */
}

.image-text img {
  width: 150px; /* adjust size */
  height: auto;
  border-radius: 8px;
}
  
  
  
